html {
    height: 100%;
    width: 100%;
    background-color: #F7F8FA
}

body {
    background-color: #F7F8FA;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-family: sans-serif;
}

#btns-div {
    background-color: #E0F2F1;
}

.divs {
    height: 100%;
    width: 100%;
    margin-inline-start: 6%;
    margin-top: 3px;
}

.btns {
    height: 100%;
    width: 100%;
    font-size: 18px;
    font-family: sans-serif;
    padding: 2%;
    border-radius: 4%;
    cursor: pointer;
}

#front-end-btn {
    height: 50%;
    width: 80%;
    font-size: 18px;
    background-color: #FF6B6B;
    color: white;
    border: 2px solid #E05B5B;
}

#front-end-btn:hover {
    background-color: #E05B5B;
    /* Darker Coral on hover */
}

#back-end-btn {
    height: 50%;
    width: 80%;
    font-size: 18px;
    background-color: #4B8BBE;
    color: white;
    margin-top: 2%;
    border: 2px solid #2A5F8E;
}

#back-end-btn:hover {
    background-color: #2A5F8E;
    /* Darker Blue on hover */
}

#python-btn {
    height: 50%;
    width: 80%;
    font-size: 18px;
    background-color: #4B8BBE;
    color: #F5F5F5;
    margin-top: 2%;
    border: 2px solid #2A5F8E
}

h4 {
    color: #F7F8FA;
    font-size: 35px;
}